*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #1b1b1b;
}
body{
    background-color: rgb(8, 30, 49);
    min-height: 100vh;
    width: 100%;
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 3px solid black;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: #1f2937;
    padding: 1rem;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
}
h1{
    padding: 1rem;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 3rem;
}
main{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 6rem;
    background-image: url("menu.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 50px;
}
li{
    padding: 0.5rem;
    list-style: none;
}
a{
    color: aliceblue;
    font-size: 2rem;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    opacity: 0.7;
    transform: scale(1.1,1.1);
    transition: all 1s;
}
h2{
    color: aliceblue;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;
}
footer{
    background-color: #1f2937 ;
    color: aliceblue;
    padding: 1rem;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    text-transform: capitalize;
}